<!DOCTYPE html>
<html>
<head>
	<title>Yoga Shop</title>
	<link rel="stylesheet" type="text/css" href="css/yogaShop.css">
</head>
<body>
<div class="cover">
	<header>
		<h1>Yoga Shop - Everything for Your Body & Mind</h1>		
		<nav>
			<ul class="menu">
				<li>Home</li>
				<li><a href="orderForm">Order Here</a></li>				
			</ul>
		</nav>
	</header>