<!--Prathima Yarlagadda-->
<%- include('_layouts/header') -%>
	<main>
		<section id="sec1">
		<figure>
        <a><img src="images/whyYoga.jpg" width="500" height="300" alt="Why Yoga"></a>
        </figure>

		</section>
		<section id="sec2">
				<p>When most people think of Yoga, they think of yoga asanas or postures. Often they treat them as a form of exercise. Too often, even with experienced students, the asanas are pracised with this thought in mind. Swami Radha warns us that there are also yoga teachers who teach asanas without an understanding of their real nature and purpose. Asanas are a devotional practice which, like all spiritual practices, bring us closer to an understanding of the truth.</p><br>
				<h5>Order yoga essentials before you start a training session</h5><br>
				<p>The most common reason students give for taking a yoga class is that they are seeking relief from some musculo-skeletal problem, or that they want to learn how to relax. Few people express an interest in the spiritual aspects - in the begining. However, those who stay with the practice inevitably begin to make certain discoveries.</p>
				<p>"Asana is not a posture which you assume mechanically. It involves thought, at the end of which a balance is achieved between movement and resistance. " - B.K.S. Iyengar. Learn more about Iyengar teachings @ <a style="color: blue; font-style: italic;" href="https://iyengaryogacanada.com/"><strong>IyengarYogaCanada</strong></a></p>
		</section>
	</main>
	<%- include('_layouts/footer') -%>